<html>
<style>
	#Content a { text-decoration: none; color: blue;}
	#Content { margin-top: 10px; padding: 10px; }
	body { font-family: arial; }
	#Footer { margin-top: 10px; font-size: .8em; color: #c0c0c0; }
	#Footer a {; font-size: .8em; color: #c0c0c0; }
</style>
<a href="/"><img src="cslogo.jpg" border="0"></a>
<div id="Content">
{{content}}
</div>
<div id="Footer">
{{~authenticated}}
<a href="/!login">login</a>
{{/authenticated}}
{{#authenticated}}
<a href="/!article-new">post</a> | 
<a href="/!admin">admin</a> | 
<a href="/!logout">logout</a>
{{/authenticated}}
</div>
</html>
